.select {
    display: flex;
    text-align: center;
    margin: 0px auto;
    flex-direction: column;
    width: 400px;
    background-image: none;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 33rem;
    height: auto;
    margin-top: 2rem;          
}