.itemInput {
    background-image: none;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 8px 0 #cfd6d6;
    height: 3rem;
    outline: none;
    padding: 5rem,5rem,8rem,8rem;
    width: 28rem;
    margin-top: 1rem;
    text-indent: 0.6rem;
}